name: Backend Product Customer Service

on:
  push:
    branches: [ main, backend-spring ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
      JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build App with Maven
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pcs:1.0.0
          build-args: |
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_URL=${{ secrets.POSTGRES_URL }}
            JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}

#name: Backend Product Customer Service
#
#on:
#  push:
#    branches:
#      - main
#      - backend-spring
#  pull_request:
#    branches:
#      - main
#
#jobs:
#  build-backend-app:
#    name: Build And Deploy Backend App
#    runs-on: ubuntu-latest
#
#    env:
#      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
#      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
#      POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
#      JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
#
#
#    steps:
#      - name: Checkout Code
#        uses: actions/checkout@v3
#
#      - name: Setup JDK 17
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'corretto'
#          java-version: 17
#
#      - name: Build App
#        run: |
#          mvn clean
#          mvn -B package --file pom.xml
#
#      - name: Login To Docker Huh
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#
#      - name: Build And Push
#        uses: docker/build-push-action@v6
#        with:
#          context: .
#          dockerfile: Dockerfile
#          push: true
#          tags: ${{ secrets.DOCKER_HUB_USER_NAME }}/pcs:1.0.0